In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [4]:
dfx = pd.read_csv('./KNN/Week 3 - KNN Assignment/Training Data/Diabetes_XTrain.csv')
dfy = pd.read_csv('./KNN/Week 3 - KNN Assignment/Training Data/Diabetes_YTrain.csv')
dtest = pd.read_csv('./KNN/Week 3 - KNN Assignment/Testing Data/Diabetes_Xtest.csv')

x = dfx.values
x = x.reshape(-1,8)
y = dfy.values
y = y.reshape(-1,)
test = dtest.values
print(y)
print(x.shape)
dtest.head()

[1 0 1 1 0 1 0 0 1 0 0 1 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 1 0 1 0 0 0 0 1 0 1 1 1 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 1 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 1 0 1
 1 1 0 0 0 1 1 1 0 0 1 0 1 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1
 1 0 1 1 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 0 1 0 0 0 0 0 1 1 1
 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 0 0 1 1 0 0 1 0
 0 0 1 0 0 1 0 1 1 0 1 0 1 1 0 0 1 0 0 0 0 0 1 0 1 0 0 1 0 1 0 1 1 0 0 0 0
 0 1 0 0 0 0 1 0 1 0 1 0 1 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 0 1 0 0 1 0 1 0 0
 0 0 0 0 0 1 0 0 1 1 1 1 0 1 0 0 0 1 1 1 0 0 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0
 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 1 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 1 1 1 0 1 1 1 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 0 0 1 0
 1 0 1 0 0 0 1 0 0 1 1 0 1 1 1 1 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 1 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1
 0 1 1 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 1 1 1 0 1 1 0 0 0 0 0 0 1 1 0 0 1 0 1
 0 1 0 0 0 1 0 1 0 1 0 0 1 1 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1
 1 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0]
(576, 8)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [5]:
dfx[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']] = dfx[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.NaN)

In [6]:
dfx.isnull().sum()

Pregnancies                   0
Glucose                       3
BloodPressure                29
SkinThickness               171
Insulin                     278
BMI                           9
DiabetesPedigreeFunction      0
Age                           0
dtype: int64

In [7]:
nan_value = float("NaN")
dfx.replace("", nan_value, inplace=True)
dfx.drop( ["Insulin"],axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,BMI,DiabetesPedigreeFunction,Age
0,7,168.0,88.0,42.0,38.2,0.787,40
1,8,110.0,76.0,NaN,27.8,0.237,58
2,7,147.0,76.0,NaN,39.4,0.257,43
3,2,100.0,66.0,20.0,32.9,0.867,28
4,4,129.0,86.0,20.0,35.1,0.231,23
...,...,...,...,...,...,...,...
571,2,111.0,60.0,NaN,26.2,0.343,23
572,7,187.0,68.0,39.0,37.7,0.254,41
573,2,122.0,60.0,18.0,29.8,0.717,22
574,4,154.0,72.0,29.0,31.3,0.338,37
575,1,88.0,78.0,29.0,32.0,0.365,29

In [8]:
#x= dfx.values
print(x,x.shape)

[[  7.    168.     88.    ...  38.2     0.787  40.   ]
 [  8.    110.     76.    ...  27.8     0.237  58.   ]
 [  7.    147.     76.    ...  39.4     0.257  43.   ]
 ...
 [  2.    122.     60.    ...  29.8     0.717  22.   ]
 [  4.    154.     72.    ...  31.3     0.338  37.   ]
 [  1.     88.     78.    ...  32.      0.365  29.   ]] (576, 8)

In [9]:
#k nearest neighbour
#Step 1: find the k nearest neighbours 

def distance(x1,x2):
    return np.sqrt(sum((x1-x2)**2))

#knn algorithm

def knn(x,y,querypoint,k=5):
    
    # pick k nearest neighbours
    
    vals= []
    #for every point in the x
    for i in range(x.shape[0]):
        
        #compute distance
        
        d= distance(querypoint , x[i])
        vals.append((d,y[i]))
            # sort the array and find k nearest points

    vals = sorted(vals)
    vals = vals[:k]
        #majority vote
    vals = np.array(vals)
    new_value = np.unique(vals[:,1],return_counts = True)
        # index of mass count

    index = new_value[1].argmax()
    
    #map this index with my data
    pred = new_value[0][index]
    return pred

In [10]:
pred= knn(x,y,test[2])

In [11]:
from sklearn.neighbors import KNeighborsClassifier

In [12]:
model = KNeighborsClassifier()

In [13]:
model.fit(x,y)

KNeighborsClassifier()

In [14]:
model.score(x,y)

0.7899305555555556

In [15]:
model?

In [16]:
result =model.predict(test)

In [17]:
print(result)

[1 0 0 0 0 1 1 1 0 1 1 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1
 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0 1 1 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 1 0 0 0 0 1 1 0 0 0 0 1 0 0 0 1
 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 1 1 1 0 0 0
 1 1 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0
 1 0 1 0 1 1 0]

In [18]:
Result = {'Diabetic_Result': result}

df = pd.DataFrame(Result, columns= ['Diabetic_Result'])

print (df)
df.to_csv (r'G:\Ai mafia\diabetic.csv', index = False, header=True)

     Diabetic_Result
0                  1
1                  0
2                  0
3                  0
4                  0
..               ...
187                1
188                0
189                1
190                1
191                0

[192 rows x 1 columns]